TestData/Connected Services/MyRef/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5460/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5460/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5460/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_SOAP_REST_Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetMaterialWeights_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialWeights" />
  </wsdl:message>
  <wsdl:message name="IService_GetMaterialWeights_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialWeightsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InsertMaterialWeight_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertMaterialWeight" />
  </wsdl:message>
  <wsdl:message name="IService_InsertMaterialWeight_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertMaterialWeightResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SelectMaterialWeight_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectMaterialWeight" />
  </wsdl:message>
  <wsdl:message name="IService_SelectMaterialWeight_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectMaterialWeightResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateMaterialWeight_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMaterialWeight" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateMaterialWeight_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMaterialWeightResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteMaterialWeight_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMaterialWeight" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteMaterialWeight_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMaterialWeightResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetMaterialWeights">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetMaterialWeights" message="tns:IService_GetMaterialWeights_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetMaterialWeightsResponse" message="tns:IService_GetMaterialWeights_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertMaterialWeight">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InsertMaterialWeight" message="tns:IService_InsertMaterialWeight_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InsertMaterialWeightResponse" message="tns:IService_InsertMaterialWeight_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectMaterialWeight">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SelectMaterialWeight" message="tns:IService_SelectMaterialWeight_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SelectMaterialWeightResponse" message="tns:IService_SelectMaterialWeight_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMaterialWeight">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateMaterialWeight" message="tns:IService_UpdateMaterialWeight_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateMaterialWeightResponse" message="tns:IService_UpdateMaterialWeight_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMaterialWeight">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteMaterialWeight" message="tns:IService_DeleteMaterialWeight_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteMaterialWeightResponse" message="tns:IService_DeleteMaterialWeight_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMaterialWeights">
      <soap:operation soapAction="http://tempuri.org/IService/GetMaterialWeights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertMaterialWeight">
      <soap:operation soapAction="http://tempuri.org/IService/InsertMaterialWeight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectMaterialWeight">
      <soap:operation soapAction="http://tempuri.org/IService/SelectMaterialWeight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMaterialWeight">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateMaterialWeight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMaterialWeight">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteMaterialWeight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:5460/Service.svc/soapService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>