TestData/Connected Services/MyRef/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5460/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_SOAP_REST_Service" />
  <xs:element name="GetMaterialWeights">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialWeightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_SOAP_REST_Service" minOccurs="0" name="GetMaterialWeightsResult" nillable="true" type="q1:ArrayOfMaterialWeight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMaterialWeight">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_SOAP_REST_Service" minOccurs="0" name="materialWeight" nillable="true" type="q2:MaterialWeight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMaterialWeightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertMaterialWeightResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectMaterialWeight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matWeightNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectMaterialWeightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_SOAP_REST_Service" minOccurs="0" name="SelectMaterialWeightResult" nillable="true" type="q3:MaterialWeight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMaterialWeight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matWeightNo" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF_SOAP_REST_Service" minOccurs="0" name="materialWeight" nillable="true" type="q4:MaterialWeight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMaterialWeightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMaterialWeightResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMaterialWeight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matWeightNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMaterialWeightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMaterialWeightResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>